
html{
    /*Removes horizontal scrollbar */
    overflow-x: hidden;
}
#title {
    position: relative;
    top:-10px;
}

#title h1{
    font-family: 'Oleo Script', cursive; 'Brush Script MT', cursive;
    text-align: center;
    font-size: 50px;
    font-weight: normal;
    padding-left: 50px;
    padding-top:10px;
}

h1 {
    margin:0;
}

#title img {
    padding-left: 10px;
}

/* Overall navbar */
nav {
    /* Centers all lists in the navbar */
    text-align: center;

    /* Makes text in the navbar unselectable */
    user-select: none;
}

/* Navigation box and surrounding parts */
nav li {
    display: inline-block;
    padding: 10px;
}

/* Inside the navigation boxes/links */
nav li a{
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    background-color: #FFAE9F;
    border-radius: 5px;
    outline-style: solid;
    outline-color: #FFC2BE;
    outline-width: 8px;

    /* Sets size of the box around the anchors */
    padding: 1em 3em;
}

/* Selected navbar box color */
nav a.active {
    background-color: #6DC49E;
    color: #ffffff;
}

nav li a:hover{
    background-color: #E5DC76;
    color: #000000;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    border-top: none;
    display: none;
    position: absolute;
    min-width: 165px;
    padding: 26px 0px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 20px 30px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #E5DC76;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Selected navbar dropdown box color */
.dropdown:hover .dropbutton {
    background-color: #6DC49E;
}

.headshot {
    border:10px solid #E5DC76;
    border-radius:5px;
}

.headshot2 {
    border:10px solid #6CB3BE;
    border-radius:5px;
}

h2 {
    font-family: 'Oleo Script', cursive; 'Brush Script MT', cursive;
}

#container{
    /* Prevents elements from getting messed up when you zoom out/in */
    max-width: 63em;
    min-width: 63em;
    position: relative;
    margin: 0 auto;
}

#content {
    display: grid;
    /* Padding of all of #content */
    padding: 2em 7em 2em 11em;

    /* Respective sizes of columns */
    grid-template-columns: 48% 52%;

    /* Gap between columns */
    grid-column-gap: 1.5em;

    /* Gap between rows */
    grid-row-gap: 2em;

    /* Size of rows, minimum size is 100px and will stretch to include text */
    grid-auto-rows: minmax (100px, auto);
}

#content-projects {
    display: grid;
    padding: 2em 7em 2em 11em;
}

#content-case-studies {
    display: grid;
    padding: 20px 7em 2em 11em;
    grid-row-gap: 2em;
    justify-content: center;
}

.title-case-studies {
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    padding-left: 0px;
}

.header-case-studies {
    background: #E5DC76;
    border: 10px solid #6CB3BE;
    border-radius:5px;
    display: inline-block;
    /* Left right padding */
    padding-left: 20px;
    padding-right: 20px;

    /* Fits to content's size*/
    height: fit-content;
    width: fit-content;
}





.logo2 {
    position: absolute;
    top: 25em;
    right: 1em;
}



body {
    background-color: #FFD3D0;
    font-family: 'Lato', sans-serif; 'Helvetica', sans-serif;
    font-size: 20px;
}

#footer {
    background-color: #FFAE9F;
    text-align: center;
    height: fit-content;
    width: 100vw;
    padding: 1em;
    font-weight: bold;
    position: fixed;
    top: -1em;
    margin:0 auto;
    bottom:0;
}

/*Alternating between three different color schemes*/

div.alt-colors:nth-of-type(3n+1){
    background: #E5DC76;
    border: 10px solid #6CB3BE;
}
div.alt-colors:nth-of-type(3n+2){
   background: #6DC49E;
   border: 10px solid #E5DC76;
}
div.alt-colors:nth-of-type(3n+3){
    background: #6cb3be;
    border: 10px solid #6DC49E;
}

.row-case-studies {
    margin-bottom:50px;
}


/*project page grid system */

.project-container {  
    margin: 0 auto;
    display: grid;
        grid-template-columns: 0.3fr 1.4fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1em 0px;
        grid-auto-flow: row;
        justify-items: stretch;
        grid-template-areas:
          "ux-img ux-txt"
          "visuals-img visuals-txt"
          "writing-img writing-txt";
        padding-inline-start: 150px;
        padding-inline-end: 150px;
        padding-top:2em;
      }
      
      .ux-img { grid-area: ux-img; }
      
      .ux-txt { grid-area: ux-txt; }
      
      .visuals-img { grid-area: visuals-img; }
      
      .visuals-txt { grid-area: visuals-txt; }
      
      .writing-img { grid-area: writing-img; }
      
      .writing-txt { grid-area: writing-txt; }
      

  }

.pink-bg {
    background: #FFAE9F;
}
  